body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img {
    max-height: 288px;
    border-radius: 5px;
}
.submit {
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(164, 211, 211);
}
